*{
    margin: 0;
}

:root {
    --primary-color: #00a6ff;
}

body{
    background-color: #4f4f4f;
}

.conteiner{
    display: flex;
}

.side-bar{
    height: 100vh;
    width: 290px;
    border-right: solid 1px #696969;
}

/* .side-bar-profile{
    position: absolute;
    height: 100vh;
    width: 256px;
    border-right: solid 3px #696969;
    background-color: #4f4f4f;
} */

/* Profile */

.profile{
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 40px 30px 30px;
}

.img-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #808080;
}

.img-profile img{
    width: 100%;   
}

/* Search */

.box{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.searchBorder{
    padding: 3px;
    border: solid 3px #ffffff00;
    border-radius: 50px;
    box-shadow: 0 0 8px 2px #ffffff00;
}

.searchBorder:hover{
    border: solid 3px var(--primary-color);
    box-shadow: 0 0 8px 2px var(--primary-color);
}

.search{
    display: flex;
    width: 220px;
    height: 40px;
}

.search input{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 50px;
    border-radius: 50px;
    background-color: #808080;
    color: #fff;
}

.search input::placeholder{
    color: #fff;
    font-size: 1em;
}

/* Button */

.button{
    width: 234px;
    height: 30px;
    padding: 15px 0px 0px 50px;
}

.button:hover{
    background-color: var(--primary-color);
    border-right: solid 7px var(--primary-color);
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0 0 8px 2px var(--primary-color);
}

.active{
    background-color: #5f5f5fa4;
    border-right: solid 7px var(--primary-color);
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0 0 8px 2px #ffffff00;
}

.button a {
    text-decoration: none;
    color: #fff;
    align-content: space-around;
}

.divider{
    height: 1px;
    background-color: #696969;
    margin: 20px;
}

/* Content */

.content{
    margin: 40px 40px;
    
}

.inner-content{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 2px 2px;
    align-content: center;
}

/* Card Game */

.cardBorder{
    width: 164px;
    height: 164px;
    padding: 3px;
    border: solid 3px #ffffff00;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px #ffffff00;
}

.cardBorder:hover{
    border: solid 3px var(--primary-color);
    box-shadow: 0 0 8px 2px var(--primary-color);
}

.cardGame{
    position: relative;
    width: 164px;
    height: 164px;
    border-radius: 4px;
    background-color: #808080;
    overflow: hidden;
}

.cardGame img {
    width: 100%;
}

.cardBottom{
    position: absolute;
    width: 164px;
    height: 25%;
    bottom: 0;
    background-color: #00000000;
}